**/a.out
common_core/libft/libftTester
common_core/libft/libft-war-machine
common_core/libft/*.o
common_core/libft/libft.a
common_core/ft_printf/printfTester
common_core/ft_printf/*.o
common_core/ft_printf/*.a
common_core/ft_printf/libft/*.a
common_core/ft_printf/libft/*.o
common_core/ft_printf/a.out
common_core/get_next_line/gnlTester
common_core/get_next_line/fsoares
common_core/get_next_line/.get_next_line_utils.c.swp
.DS_Store
common_core/.DS_Store
common_core/libft/.DS_Store
piscine/.DS_Store
piscine/C00/.DS_Store
piscine/C00_wMains/.DS_Store
piscine/C00_wMains/docs/
piscine/C01/.DS_Store
piscine/C02/.DS_Store
piscine/C02_wMains/.DS_Store
piscine/C03/.DS_Store
piscine/C04/.DS_Store
piscine/C06/.DS_Store
piscine/C08/.DS_Store
piscine/C09/.DS_Store
piscine/C09/ex01/.DS_Store
piscine/C10/.DS_Store
piscine/C11/.DS_Store
piscine/C11_wMains/.DS_Store
piscine/shell00/.DS_Store
